@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  z-index: 1;
}

body {
  background-color: #090312;
}

.cta-button {
  border-radius: 1.875rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(
    94deg,
    rgba(64, 104, 205, 0.44) -45.99%,
    rgba(175, 30, 224, 0.65) 110.78%
  );
  backdrop-filter: blur(20px);
}

/* .gradient-bg {
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(49% 81% at -104% 139%, #1E1F23F2 0%, #073AFF00 100%),
                      radial-gradient(60% 46% at 126% 40%, #030004f2 1%, #073AFF00 97%),
                      radial-gradient(106% 86% at 52% 13%, #1E1F23F2 1%, #FF000000 99%),
                      radial-gradient(137% 101% at 54% 96%, #1E1F23F2 22%, #FF000000 99%),
                      radial-gradient(142% 91% at 108% 103%, #AF16E3F2 0%, #AF16E3F2 100%);
} */

.grad1 {
  overflow: hidden;
  background-image: radial-gradient(#9303c6, #420294, #000000);
}

.grad2 {
  overflow: hidden;
  background-image: radial-gradient(
    farthest-corner at 60% 55%,
    #9303c6,
    #420294,
    #000000
  );
}

.text-gradient {
  color: transparent;
  background: linear-gradient(90deg, #801ee1 4%, #ffffff 87%);
  background: linear-gradient(19deg, #801ee1 30%, #ffffff 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CS-text-gradient {
  background: linear-gradient(
    90deg,
    #850cff 0.1%,
    rgba(19, 71, 255, 0) 120.29%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -2.24px;
}

.box-background {
  border-radius: 1.25rem;
  border: 1px solid #3c3c3c;
  background: rgba(68, 68, 68, 0.3);
  box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px);
}

.sidebar {
  background-color: #923cb5;
  background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
}

.email-input {
  border-radius: 1.875rem;
  border: 1px solid #b01ee1;
  background-color: transparent;
  /* background: linear-gradient(95deg, rgba(255, 255, 255, 0.38) 22.83%, rgba(255, 255, 255, 0.00) 112.69%); */
  /* background-color: #bdcad9;  */
}

.subscribe-button {
  outline: none;
  border-radius: 1.875rem;
  /* border: 1px solid #FFF; */
  /* background: linear-gradient(109deg, rgba(248, 179, 92, 0.53) 24.14%, rgba(176, 30, 225, 0.13) 54.75%, rgba(253, 0, 71, 0.38) 95.84%); */
  background-color: #58427c;
  background-image: linear-gradient(316deg, #58427c 0%, #746cc0 74%);
}

/* .footer-gradient{
    background-image: url('../public/largerGradient.png'), url('../public/largerGradient.png');
    background-repeat: no-repeat;
  background-position: right top;
  filter: blur(1.5rem);
} */

.footerDiv {
  border: 4px solid #5c5c5c30;
  /* margin-left: 40px;
    margin-right: 40px;
    padding: 40px; */
  border-radius: 40px;
  border-bottom: 0px solid #ffffff;
}

.footerGradientDiv {
  position: absolute;
  right: 0;
  z-index: 5;
  margin-left: auto;
  overflow: hidden;
  width: auto;
  /* Match the width of your image */
  height: 325px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 15px;
}

.footerGradient {
  position: relative;
  filter: blur(1.5rem);
  right: 0;
  z-index: 5;
  margin-left: auto;
  opacity: 1;
  overflow: hidden;
}

.hoverUnderline {
  display: inline-block;
  position: relative;
}

.hoverUnderline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -0.5rem;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hoverUnderline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hoverUnderlineWhite {
  display: inline-block;
  position: relative;
}

.hoverUnderlineWhite::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -0.5rem;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hoverUnderlineWhite:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hoverFooter:hover {
  color: rgb(169, 169, 169);
}